POSTGRES_DB=ticketing_db
POSTGRES_USER=ticketing_user
POSTGRES_PASSWORD=ticketing_password
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
JWT_SECRET=dev_secret_change_me
RESERVATION_TTL_SECONDS=600
